.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: pink;
  }
  
  .search-results {
    margin-top: 20px;
  }
  
  .search-results h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .search-results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .search-result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .search-result-item:last-child {
    border-bottom: none;
  }
  
  .result-details {
    display: flex;
    flex-direction: column;
  }
  
  .result-details h4 {
    font-size: 1.2em;
    margin: 0 0 5px 0;
  }
  
  .result-details p {
    margin: 0;
  }
  